@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --ff-primary: 'Libre Franklin', sans-serif;
  --fw-light: 300;
  --fw-semiBold: 600;
  --fw-bold: 700;

  --clr-blue-primary: #4f7df3;
  --clr-paleBlue-secundary: hsl(223, 100%, 88%);
  --clr-lightRed-secundary: hsl(354, 100%, 66%);
  --clr-grey-neutral: hsl(0, 0%, 59%);
  --clr-darkBlue-neutral: hsl(209, 33%, 12%);
  --clr-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button {
  font-family: var(--ff-primary);
}

body {
  font-size: 2rem;
  background: var(--clr-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 375px;
  margin: 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img:nth-child(1) {
  width: 70px;
  margin-bottom: 5rem;
}

.title-primary {
  text-align: center;
  font-size: 2.7rem;
  color: var(--clr-grey-neutral);
  font-weight: var(--fw-light);
  margin-bottom: 2rem;
}

.title-primary span {
  font-weight: var(--fw-bold);
}

.title-primary,
.title-medium {
  text-align: center;
}

.title-primary span,
.title-medium {
  color: var(--clr-darkBlue-neutral);
}

.title-medium {
  font-size: 1.5rem;
  font-weight: var(--fw-light);
}

.container hgroup {
  margin-bottom: 4rem;
}

.container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.container form input,
.container form button {
  flex: 1;
  border-radius: 40px;
}

.container form input {
  border: 1px solid var(--clr-paleBlue-secundary);
  padding: 1.5rem 3.5rem 1.5rem;
  margin-bottom: 1rem;
}

.container form input::placeholder {
  color: var(--clr-paleBlue-secundary);
}

.container form button {
  padding: 1.5rem;
  border: none;
  background: var(--clr-blue-primary);
  color: var(--clr-white);
  font-weight: var(--fw-semiBold);
  cursor: pointer;
  box-shadow: 0 10px 15px -10px #888888;
}

.container img#dashboard {
  width: 100%;
}

footer {
  margin: auto 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  margin-bottom: 4rem;
}

footer ul li { 
  list-style: none;
}

footer ul li + li {
  margin-left: 2rem;
}

footer ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid var(--clr-grey-neutral);
  border-radius: 50%;
  padding: .5rem;
}

footer img {
  width: 18px;
  height: 18px;
  fill: var(--clr-blue-primary);
}

footer small {
  font-size: 1.2rem;
  color: var(--clr-grey-neutral);
}
