@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --ff-primary: 'Libre Franklin', sans-serif;
  --fw-light: 300;
  --fw-semiBold: 600;
  --fw-bold: 700;

  --clr-blue-primary: hsl(223, 87%, 63%);
  --clr-paleBlue-secundary: hsl(223, 100%, 88%);
  --clr-lightRed-secundary: hsl(354, 100%, 66%);
  --clr-grey-neutral: hsl(0, 0%, 59%);
  --clr-darkBlue-neutral: hsl(209, 33%, 12%);
  --clr-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  font-size: 2rem;
  background: var(--clr-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 375px;
  margin: 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img:nth-child(1) {
  width: 70px;
  margin-bottom: 5rem;
}

.title-primary {
  text-align: center;
  font-size: 2.7rem;
  color: var(--clr-grey-neutral);
  font-weight: var(--fw-light);
  margin-bottom: 2rem;
}

.title-primary span {
  font-weight: var(--fw-bold);
}

.title-primary,
.title-medium {
  text-align: center;
}

.title-primary span,
.title-medium {
  color: var(--clr-darkBlue-neutral);
}

.title-medium {
  font-size: 1.5rem;
  font-weight: var(--fw-semiBold);
}

.container hgroup {
  margin-bottom: 3rem;
}

.container img#dashboard {
  width: 100%;
}

footer {
  margin-top: auto;
}

footer img {
  width: 25px;
  height: 25px;
}
